.features {
  .outline-block();
  &__call {
    .margin();
    .padding(45px, 35px, 64px, 35px);
    .open-sans-light (30px, 300, 24px, #283645, uppercase);
    .outline-element();
  }
  &__list {
    .margin();
    .padding(0, 0, 290px, 0);
    .background-col(#f2f2f2);
    background-image: url(../../../img/iphone-screen-mobile@1x.png);
    background-repeat: no-repeat;
    background-position: bottom  -35px center;
    .outline-element(1px, dashed, green);

  }
  &__item {
    .outline-element();
  }
  &__title {
    .margin();
  }
  &__dscr {
    .margin();
    .text-color(#283645);
  }
}
